//footer
.footer {
	background: rgba(0, 151, 250, 1);
	color: $white;

	a {
		color: $white;
	}

	.footer--top--solid {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}

	.footer-contacts {
		.h4 {
			@include sm-max {
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;
			}
		}
	}

	.footer-logo {
		display: flex;
		align-items: center;
		gap: 20px;

		img {
			height: 67px;
			width: 180px;
			object-fit: contain;

			@include sm-max {
				width: 131px;
				height: 49px;
			}
		}
	}

	.link-wrap {
		display: flex;
		align-items: center;
		gap: 4px;

		.icon {
			width: 24px;
			height: 24px;
		}
	}

	ul li {
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;

		@include sm-max {
			font-size: 14px;
			font-weight: 400;
			line-height: 100%;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&:first-child {
			margin-bottom: 24px;
			font-weight: 500;

			@include sm-max {
				margin-bottom: 16px;
			}
		}

		a {
			color: $white;

			// &:hover {
			// 	color: $main-blue;
			// }
		}

		.head {
			@include md-min {
				flex: 0 0 85px;
			}
		}
	}

	.footer--socials {
		svg {
			width: 48px;
			height: 48px;

			@include sm-max {
				width: 28px;
				height: 28px;
			}
		}

		ul {
			display: flex;
			gap: 8px;

			li {
				margin: 0;
			}
		}
	}

	.regulation ul,
	.list-phones {
		li {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}

	.regulation ul {
		li {
			font-size: 14px;
			line-height: 17px;
		}
	}

	.footer--bottom {
		a {
			color: $white;

			&:hover {
				color: $white;
			}
		}

		.copyright {
			font-size: 14px;
			line-height: 17px;

			@include sm-max {
				font-size: 10px;
				font-weight: 400;
				line-height: 14px
			}
		}
	}

	//select
	#footer-select-city {
		position: relative;
		width: max-content;
		margin-left: -10px;
		border: 1px solid transparent;
		z-index: 2;
		background: $main-blue;
		@include transition(0.3s ease-out 0s);

		.select2-container {
			background: unset;
			width: max-content !important;
			// min-width: 150px;

			&.select2-container--open {
				.select2-selection {
					border: unset;
					border-bottom: unset;
					background: transparent;
					// margin-left: 1px;
					// margin-right: -1px;

					.select2-selection__arrow {
						b {
							&::after {
								transform: rotate(-90deg);
							}
						}
					}
				}

				&.select2-container--above {
					.select2-selection {
						border-bottom: 1px solid $blue;
						border-top: unset;
					}
				}

				&.select2-container--below {

					.select2-selection {
						.select2-selection__arrow {
							b {
								&::after {
									transform: rotate(90deg);
								}
							}
						}
					}
				}
			}

			.select2-selection {
				background: unset;
				border: unset;
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				padding: 10px 8px 10px 8px;

				.select2-selection__rendered {
					color: $white;
					padding: 0;
					padding-right: 0;
					display: flex;
					align-items: center;
					flex-direction: row-reverse;

					&::after {
						content: "";
						display: block;
						margin: 0;
						border: none;
						width: 24px;
						height: 24px;
						margin-right: 5px;
						position: relative;
						background: url(../img/icons/icons.svg#map-pin) no-repeat center;
						background-size: cover;
						filter: brightness(0) saturate(100%) invert(100%) sepia(36%) saturate(2558%) hue-rotate(184deg) brightness(125%) contrast(96%);
						// @include transition(0.3s ease-out 0s);
					}
				}

				.select2-selection__arrow {
					all: unset;

					b {
						all: unset;

						&::after {
							// content: "";
							// display: block;
							// margin: 0;
							// border: none;
							// width: 16px;
							// height: 16px;
							// margin-left: 5px;
							// position: relative;
							// background: url(../img/icons/icons.svg#i-arrow-two-right-static) no-repeat center;
							// background-size: cover;
							// filter: brightness(0) saturate(100%) invert(100%) sepia(36%) saturate(2558%) hue-rotate(184deg) brightness(125%) contrast(96%);
							// @include transition(0.3s ease-out 0s);
							all: unset;
						}
					}
				}
			}

			.select2-dropdown {
				background: $white;

				.select2-results {
					margin-right: 8px;
					padding: 10px 0;

					.select2-results__options {
						font-weight: 400px;

						/* полоса прокрутки (скроллбар) */
						&::-webkit-scrollbar {
							width: 4px;
							/* ширина для вертикального скролла */
							height: 4px;
							/* высота для горизонтального скролла */
							background-color: $grey;
							border-radius: 20px;
						}

						/* ползунок скроллбара */
						&::-webkit-scrollbar-thumb {
							background-color: $main-blue;
							border-radius: 20px;
						}

						.select2-results__option {
							background: unset;
							padding: 0 8px;
							color: $black;
							font-size: 14px;
							line-height: 18px;
							font-weight: 400;

							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
				}

				&.select2-dropdown--below {
					border-radius: 0 0 5px 5px;
					border: 1px solid #f2f2f2;
					box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.07);
					top: 10px;
					left: unset;
					right: -70px;
					min-width: 150px;

					@include xxl-max {
						right: unset;
						left: 0;
					}
				}

				&.select2-dropdown--above {
					border-radius: 5px 5px 0 0;
					border: 1px solid #f2f2f2;
					box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.07);
					top: -10px;
					left: unset;
					right: -70px;
					min-width: 150px;

					@include xxl-max {
						right: unset;
						left: 0;
					}
				}
			}
		}
	}
}