@use "sass:math";

//? main styles
@import "styles/fonts";
@import "styles/mixins";

:root {

	--black: #2b2b2b;
	--white: #fafafa;
	--white-dark: #f2f2f2;

	--main-blue: #0097fa;
	--blue: #3da6d3;
	--dark-blue: #0f68ba;
	--dark-blue-2: #708fc6;
	--dark-blue-sky: #3751d8;
	--blue-sky: #aacffa;
	--light-blue-sky: #5b75ff;
	--light-blue: #edf4ff;
	--light-blue-2: #cfecff;
	--light-blue-3: #b0cff7; //filter: brightness(0) saturate(100%) invert(78%) sepia(16%) saturate(607%) hue-rotate(177deg) brightness(102%) contrast(94%);

	--grey-dark: #151413;
	--grey: #7a7a7a;
	--light-grey: #b9b9b9;
	--silver-dark: #424242;
	--silver: #e0e0e0;
	--red: #ff0000;

}


//colors
// $white: #ffffff;
// $black: #111010;
// $main-blue: #0097fa;
// $blue: #3da6d3;
// $light-blue: #edf4ff;
// $dark-blue: #009ee6;
// $grey: #7a7a7a;
// $light-grey: #d1dae8;
// $red: #ff0000;

html,
body {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	/* Prevent font scaling in landscape & safari*/
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

main {
	position: relative;
	flex: 1 1 auto;
	// overflow: hidden;
	@include transition(0.3s ease-out 0s);
	overflow: hidden;

	@include md-max {
		margin-top: 80px;
	}
}

//?include header=======================================================================================================//
@import "parts/header";

//?include footer=======================================================================================================//
@import "parts/footer";

//!styles==========================================================================================================//
@import "common";
@import "styles";

@import "accessability.scss"